html{
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html > * {  transition: 1s;}
body{
    padding:0;
    margin:0;
}
textarea {
    min-height:120px;
}

header{
    z-index:1;
    position: sticky;
    top:0;
    font-weight: 100;
}

header ul > li{   margin-right:20px;}

.button {
    padding: 10px 16px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #cccccc;
    cursor: pointer;
    text-align: center;
}
  
.button-light{
    color: black;
    background-color: #fff !important; 
}

.button-text{
    border:none;
    background-color: rgba(255,255,255,0.08);
}

.dark /deep/ input[type=text], select, textarea  {
    width: 100%;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #333;
    box-sizing: border-box;
  }

  
.dark /deep/   input[type=submit]  {
width: 200px ;
color: white;
background-color: transparent;
padding: 14px 20px;
margin: 8px 0;
font-size: 16px;
border: 1px solid #333;
cursor: pointer;
}

.dark /deep/   input[type=submit]:hover {
background-color: dodgerblue;
}


.dark {
    background:   #121212;
    color: white;
}

.dark button{
    color: white;
    text-transform: capitalize;
}

.align-center{
    text-align: center;
}

.capsule{    border-radius: 20px;}

section{  
     padding:10px;
}
section .title{
    font-size: 2rem;
    margin: 30px 0px 30px 0px;
    position: relative;

}
section > .text , section > *{
    margin-bottom: 30px;
}
section > .text{
    line-height: 1.6;
}

section > .footer{
    width: 100%;
    display: inline-block;
 
}

section .footer > *{
    display: inline-block;
   margin: 10px;
   float:right;
}


.jumbotron{
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
    position: relative;
}

.jumbotron-container{
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.jumbotron-title{
    font-size: 3rem;
    margin-bottom:30px;
}

.jumbotron button{
    margin:30px 0 30px 0;
    background-color: transparent;
    border: 2px solid #333 ;

}
.parallax {
    /* The image used */
    background-image: url("../img/jumbotron-2.jpg");
    top:0px;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    filter: brightness(10%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .float-right{
      margin-left: auto !important;
      display: block;
  }


[class^="row-"]{
    width: 100%;
    min-height: 200px;
    display: inline-flex
}


[class^="row-"] >  .col{
    margin:10px;
    display:block;
    position:relative;
}

.row-4 > .col{    width: calc(25% - 20px);}
.row-3 > .col{ width: calc(33.3% - 20px);}

.grid{
   filter:grayscale(1);
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
    cursor: pointer;
    transition: .5s;
    


}

.grid:hover{
    filter:grayscale(0);
}

.grid:hover > .caption{
    color: orange;
    font-size: 2rem;
    transition: .5s;
}

.grid > .caption{
    padding:8px 0;
    font-size: 20px;
    width: auto;
    position: relative;
}


.grid /deep/ img{
    filter:brightness(100%);
    width: 100%;
    height: 200px;
    z-index: 0;
    transition:.5s;
    cursor: pointer;
}


.subheading{
    font-size: 1.5rem;
    margin-bottom:60px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    overflow: hidden;
    }

    li { float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #333;
    }
 

.card > *{ 
    margin-top: 20px;
}
.card> img{
    width: 100%;
    height: 180px;
}

.card-title{ font-size: 1.71rem;}

.card-subtitle{
    opacity: 0.5;
    margin-bottom: 20px;
}


.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:18px 24px 18px 24px;
    text-decoration: none;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
 

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}




footer {
  background-color: #121212;
  margin-top: 50px;
  padding:20px 0 20px 0;
  filter: opacity(0.);
  border-top: 1px solid #333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



@media only screen and (max-width: 768px) {
    .dark /deep/   input[type=submit] {
        width: 100%;
      }
    /* For mobile phones: */
     [class*="row-"] {
      display:block
    }
  
    .row-4 > .col, .row-3> .col{
        width: 100% !important;
        margin-right:0;
        margin-left:0;
        display: inline-block;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .jumbotron-container{
        position: relative;
        left:0;
        top:0;
        transform: none;
    }
    #gmap_canvas{
        width: 100%;
    }
  }
  

@media (min-width: 768px) {
  .container { width: 750px;}
}

@media (min-width: 992px) {
  .container {  width: 970px;}
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
